#not-found {
  height: 100% !important;
  color: white;
  background: rgb(34, 78, 195);
  background: linear-gradient(
    150deg,
    rgba(34, 78, 195, 1) 20%,
    rgba(250, 255, 23, 1) 83%
  );

  a:hover {
    color: #c3d1de;
  }
}

#err-redirect {
  color: #666;
  text-decoration: none;
  transition: color 0.7s linear;
}
