input[data-input='search'] {
  padding-left: 36px !important;
}

.navbar {
  background: inherit;
  padding: 0 198px !important;
  * {
    color: #666 !important;
  }
}

div[data-control='control'] {
  width: 65% !important;
}

span[data-icon='search'] {
  z-index: 10;
  left: 10px;
  line-height: 0;
}

.navbar-nav {
  width: 35%;
  line-height: 71px;
}

button[data-btn='signin'] {
  width: fit-content;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  color: #666;
  border: none;
  box-shadow: none;
}

select[data-select='lang'] {
  color: #666 !important;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 30px 6px 0;
  width: fit-content;
  box-shadow: none;
}

.form-control {
  background-color: #eee;
  color: #666;
}

.active-sidebar {
  border-bottom: 2px solid #ed7135;
}

.active-sidebar-recent-icon {
  * path {
    stroke: white;
  }
}

.active-sidebar-selfie-icon {
  svg {
    :not(:first-child) {
      fill: white;
    }
    :first-child {
      stroke: white;
    }
  }
}

.active-sidebar-icon {
  * path {
    fill: white;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 12px !important;
    background-color: #ed7135 !important;
    * {
      font-weight: 600 !important;
      font-size: 18px !important;
    }
  }
  .navbar-nav {
    display: contents !important;
    line-height: 60px;
  }
  .form-select {
    background-color: #ed7135 !important;
  }
  .nav-icon {
    height: 50px;
    width: 50px;
  }
  .container-fluid {
    padding: 0 12px !important;
  }
  nav[data-box='mobro'] {
    display: flex !important;
  }
  div[data-control='control'] {
    flex-direction: column !important;
    margin: 16px 0;
    gap: 24px !important;
  }
}
