.dark-theme {
  color: #fff;
  background-color: #666;
  app-header {
    background-color: #ed7135;
    .border-bottom {
      border-bottom: none !important;
    }

    .active-sidebar {
      color: #fff !important;
      border-bottom: none !important;
    }

    select {
      background-color: #ed7135;
    }
  }

  side-navbar {
    #recent > path {
      stroke: #fff !important;
    }
    #allResourses,
    #basket {
      path {
        fill: #fff;
      }
    }
    #selfie {
      :not(:first-child) {
        fill: #fff;
      }
      :first-child {
        stroke: #fff;
      }
    }

    * {
      color: #fff;
    }
  }

  span[data-tip='count'] {
    color: #fff;
  }

  .btn-group {
    label {
      border: none;
      background: #fff;
    }
    label:hover {
      color: #fff !important;
    }
  }

  .card {
    background-color: #d6dde3;
    border: none;

    .card-title {
      color: #252925;
    }
  }
}

button[data-btn='toggle-theme'] {
  border: none;
  outline: none;
  background: none;
}
