span[data-tip='count'] {
  font-size: 14px;
  color: #666;
}

label[data-btn='label'] {
  padding: 7px 16px 9px 16px;
  line-height: 150%;
  color: #292929;
}

.btn-check:checked + label[data-btn='label'] {
  background-color: #292929;
  color: #fff;
}

div[data-btn='group'] {
  width: 176px;
  height: 40px;
}
