@use 'header';
@use 'sidenav';
@use 'card';
@use 'title-section';
@use 'theme';
@use 'not-found';

@import '~bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 80vh;
  padding: 0 194px;
}

app-header {
  display: block;
  background: white;
  height: 70px;
  width: 100vw;
}

footer {
  min-height: 70px;
}

h1 {
  font-weight: 700;
}

h1,
h4,
h5 {
  letter-spacing: 0.5px;
}

label {
  height: fit-content;
}

p {
  color: #666;
}

section[data-box='content'] {
  width: 65%;
}

section[data-box='list'] {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 992px) {
  section[data-box='content'] {
    width: 100% !important;
  }
  section[data-box='list'] {
    grid-template-columns: 1fr;
  }
  main {
    padding: 0 16px;
    width: 100% !important;
  }
}
