@import 'header';
@import 'sidenav';
@import 'card';
@import '404';
@import '~bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 80vh;
}

app-header {
  display: block;
  background: white;
  height: 71px;
  width: 100vw;
}

footer {
  min-height: 70px;
}

h1 {
  font-weight: 700;
}

h1,
h4,
h5 {
  letter-spacing: 0.5px;
}

label {
  height: fit-content;
}

p {
  color: #666;
}
